<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dodawanie Indeksu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Wyloguj
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <form th:action="@{/save_indexOp}" th:object="${indexOp}" method="post" >
                    <div class="row">
                        <div th:if="${error}" th:text="${error}" class="alert alert-danger"/>
                        <div th:if="${succes}" th:text="${succes}" class="alert alert-info"/>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input type="hidden" th:field="*{id_indeksu}"/>
                            <label>Id Kod</label>
                            <input type="text" id="id_kod" name="i_kod" placeholder="Id Kod"
                                   class="form-control" th:field="*{i_kod}"/> <br/>

                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <label>Nazwa indeksu</label>
                            <input type="text" id="nazwa_indeksu" name="nazwa_indeksu" placeholder="Nazwa indeksu"
                                   class="form-control" th:field="*{i_nazwa}"/> <br/>

                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">


                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-lg btn-primary btn-block" name="dodaj_indeks" value="Dodaj" type="Submit">
                                        Zapisz indeks
                                    </button>
                                </div>

                            </div>


                        </div>
                        <div class="col-md-3"></div>
                    </div>



                    </form>
                </div>

                <div class="col-md-2"></div>
            </div>


        </div>
    </div>

</div>
</body>
</html>