<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dodawanie operacji</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Wyloguj
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <form action="#"  th:action="@{/save_op_tech}" th:object="${opTech}" method="post" >
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <input type="hidden" th:field="*{opt_id}"/>
                                <label>Kod operacji</label>
                                <input type="text" id="opt_kod" name="opt_kod" placeholder="Kod operacji"
                                       class="form-control" th:field="*{opt_kod}" th:required="required"/> <br/>

                            </div>
                            <div class="col-md-3"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <label>Nazwa operacji</label>
                                <input type="text" id="opt_nazwa" name="opt_nazwa" placeholder="Nazwa operacji"
                                       class="form-control" th:field="*{opt_nazwa}" th:required="required"/> <br/>

                            </div>
                            <div class="col-md-3"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-lg btn-primary btn-block" name="dodaj_operacje" value="Dodaj" type="Submit">
                                            Zapisz operacje
                                        </button>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-3"></div>
                        </div>




                    </div>
                    <div class="col-md-2"></div>
                </form>
            </div>


        </div>
    </div>

</div>
</body>
</html>