<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dodawanie maszyny</title>
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function values_null(){

            document.getElementById("krm_kod").value = null;
            document.getElementById("nazwa_maszyny").value = null;

        }


        /*]]>*/
    </script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Wyloguj
        </button>
    </form>
    <br/>
    <a class="btn btn-md btn-primary btn-block" href="/kartoteka_maszyn">Wstecz</a>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form th:action="@{/save_krmaszyny}" th:object="${krMaszyny}" method="post" >
                    <div class="row">
                        <div style="text-align:center;font-size:20px;">
                            <div th:if="${error}" th:text="${error}" class="alert alert-danger"/>
                            <div th:if="${succes}" th:text="${succes}" class="alert alert-info"/>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input type="hidden" th:field="*{krm_id}"/>
                            <label>KrM Kod</label>
                            <input type="text" id="krm_kod" name="krm_kod" placeholder="Krm kod"
                                   class="form-control" th:field="*{krm_kod}"/> <br/>

                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <label>Nazwa maszyny</label>
                            <input type="text" id="nazwa_maszyny" name="nazwa_maszyny" placeholder="Nazwa maszyny"
                                   class="form-control" th:field="*{krm_nazwa}"/> <br/>

                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">


                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-md btn-primary btn-block" name="dodaj_maszyne" value="Dodaj" type="Submit">
                                        Zapisz maszynę
                                    </button>
                                </div>

                            </div>


                        </div>
                        <div class="col-md-3"></div>
                    </div>



                    </form>
                </div>

                <div class="col-md-2"></div>
            </div>


        </div>
    </div>

</div>
</body>
</html>