<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://java.sun.com/xml/ns/persistence/orm">

<head>
    <title>Ewidencja</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function set_change(){
            var zmiana = /*[[${#dates.format(standardDate, 'HH')}]]*/;
            if(zmiana >= 7 && zmiana < 15){
                document.getElementById("zmiana").value = "1";
            } else if(zmiana >=15 && zmiana < 23){
                document.getElementById("zmiana").value = "2";
            } else {
                document.getElementById("zmiana").value = "3";
            }

            document.getElementById("maszyna").value = null;
            document.getElementById("kod_maszyny").value = null;
            document.getElementById("nazwa_maszyny").value = null;
            document.getElementById("indeks").value = null;
            document.getElementById("ilosc").value = null;
            document.getElementById("kod_operacji").value = null;
            document.getElementById("nazwa_operacji").value = null;
            document.getElementById("czas").value = null;
            document.getElementById("nazwa_indeksu").value = null;

            var data = /*[[${#dates.format(standardDate, 'dd-MM-yyyy')}]]*/;
            document.getElementById("date").value = data;
        }


        /*]]>*/
    </script>
</head>

<body onload="set_change()">
<div class="container" style="width: 100%;">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Wyloguj
        </button>
    </form>
    <a class="navbar-brand" href="admin/home">Kartoteki i produkcja</a>
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <form action="#"  th:action="@{/save_ewidencja}" method="post" >
                    <div class="row">

                        <div class="row" style="padding-bottom:20px;">

                            <!-- LEWA   KOLUMNA   DANYCH -->

                            <div class="col-md-6">
                                <div class="row two_columns" style="margin: auto;">
                                    <h3 class="form-signin-heading" style="text-align: center;">Dane do ewidencji</h3>
                                    <br/>
                                    <!--Id pracownika - Nazwisko pracownika - Wydział pracownika -->
                                    <div class="col-md-4">
                                        <label>Nazwisko pracownika</label>
                                        <input  required="required" type="text" id="nazwisko_pracownika" name="lastName" placeholder="Nazwisko pracownika"
                                               class="form-control" th:value="${user_lastName}"/> <br/>
                                        <label>Id pracownika</label>
                                        <input  required="required" type="text" id="user" name="user" placeholder="Id pracownika"
                                               class="form-control" th:value="${user_id}"/> <br/>
                                        <label>Wydział pracownika</label>
                                        <input  required="required" type="text" id="wydzial_pracownika" name="wydzial_pracownika" placeholder="Wydzial pracownika"
                                               class="form-control" th:value="${user_section}"/> <br/>
                                        <br/>
                                        <br/>
                                    </div>

                                    <!--Imie - Kod - Id ewidencji-->
                                    <div class="col-md-4">
                                        <label>Login</label>
                                        <input  required="required" type="text" id="imie_pracownika" name="imie_pracownika" placeholder="Imie pracownika"
                                               class="form-control" th:value="${user_login}"/> <br/>

                                        <label>Kod pracownika</label>

                                        <input  required="required" type="text" name="user" placeholder="Kod pracownika"
                                               class="form-control" th:value="${user_code}"/> <br/>

                                        <!-- <label>Id ewidencji</label>
                                         <input required="required" type="text" id="ewidencja" name="ewidencja" placeholder="e_id"
                                                class="form-control" th:value="${user_code}"/> <br/>-->

                                        <br/>
                                        <br/>
                                    </div>



                                    <!--Zmiana - Data - Czas pracy -->
                                    <div class="col-md-4">
                                        <label>Zmiana</label>
                                        <input  required="required" type="text" id="zmiana" name="zmiana" placeholder="Zmiana"
                                               class="form-control" /> <br/>
                                        <label>Data</label>
                                        <input  required="required" type="text" id="date" name="data" placeholder="Data"
                                               class="form-control" /> <br/>

                                        <label>Czas pracy</label>
                                        <input required="required" type="text" id="czas_pracy" name="czas_pracy" placeholder="Czas pracy"
                                               class="form-control" th:value="480"/> <br/>


                                    </div>
                                </div>
                            </div>

                            <!-- PRAWA    KOLUMNA    DANYCH -->

                            <div class="col-md-6">
                                <div class="row two_columns" style="margin: auto; ">
                                    <h3 class="form-signin-heading"  style="text-align: center;">Dane elementu</h3>
                                    <br/>

                                    <!--Kod maszyny - Id maszyny - Nazwa maszyny -->
                                    <div class="col-md-4">
                                        <label>Kod maszyny</label>
                                        <select required="required" class="form-control" id="kod_maszyny" onchange="fill_fields()">
                                            <option th:each="maszyna : ${listKrMaszynys}"  th:value="${maszyna.krm_kod}" th:text="${maszyna.krm_kod}"></option>
                                        </select> <br/>
                                        <label>Id maszyny</label>
                                        <input  required="required" type="text" id="maszyna" name="maszyna"
                                               class="form-control"/> <br/>
                                        <label>Nazwa maszyny</label>
                                        <input  required="required" type="text" id="nazwa_maszyny" name="nazwa_maszyny"
                                               class="form-control"/> <br/>
                                        <!-- <label>Id maszyny</label>
                                         <select  required="required" class="form-control" id="maszyna" name="maszyna" placeholder="Id maszyny">
                                             <option th:each="maszyna : ${listKrMaszynys}" th:value="${maszyna.krm_id}" th:text="${maszyna.krm_id}"></option>
                                         </select> <br/>
                                         <label>Nazwa maszyny</label>
                                         <select  required="required" class="form-control" id="nazwa_maszyny" placeholder="Nazwa maszyny">
                                             <option th:each="maszyna : ${listKrMaszynys}" th:value="${maszyna.krm_nazwa}" th:text="${maszyna.krm_nazwa}"></option>
                                         </select> <br/>-->
                                        <br/>
                                        <br/>
                                    </div>

                                    <!--Indeks - Nazwa indeksu - Ilość-->
                                    <div class="col-md-4">
                                        <label>Indeks</label>
                                        <select required="required"class="form-control" id="indeks" name="indexOp" onchange="fill_index_name()">
                                            <option th:each="indexOp : ${listIndexOps}" th:value="${indexOp.id_indeksu}" th:text="${indexOp.i_kod}">></option>
                                        </select> <br/>

                                        <label>Nazwa indeksu</label>
                                        <select  required="required" class="form-control" id="nazwa_indeksu"  onchange="fill_index_code()">
                                            <option th:each="index : ${listIndexOps}" th:value="${index}" th:text="${index.i_nazwa}"></option>
                                        </select> <br/>

                                        <label>Ilość</label>
                                        <input required="required" type="text" id="ilosc" name="ilosc"
                                               class="form-control"/></br>

                                        <br/>
                                        <br/>
                                    </div>

                                    <!--Operacja - Nazwa operacji - Czas -->
                                    <div class="col-md-4">
                                        <label>Operacja</label>
                                        <select  required="required"class="form-control" id="kod_operacji" name="opTech" onchange="fill_op_name()">
                                            <option th:each="opTech : ${listOpTechs}" th:value="${opTech.opt_id}" th:text="${opTech.opt_kod}"></option>
                                        </select> <br/>
                                        <label>Nazwa operacji</label>
                                        <select class="form-control" id="nazwa_operacji" onchange="fill_op_code()">
                                            <option th:each="operacja : ${listOpTechs}" th:value="${operacja.opt_nazwa}" th:text="${operacja.opt_nazwa}"></option>
                                        </select> <br/>
                                        <label>Czas</label>
                                        <input required="required" type="text" id="czas" name="czas"
                                               class="form-control" />
                                        <br/>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Zapisz" type="Submit" style="width:40%; margin:auto;">
                            Dodaj
                        </button>

                    </div>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_fields(){
                            var x = document.getElementById("kod_maszyny").selectedIndex;
                            var y = document.getElementById("kod_maszyny").options;
                            var krm_kod = y[x].text;
                            var rozmiar_listy = /*[[${rozmiar_listy}]]*/;

                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listKrMaszynys}]]*/));
                            for (index = 0; index < rozmiar_listy; ++index) {
                                if(krm_kod == jsonObj[index]['krm_kod']){
                                    var id_maszyny = jsonObj[index]['krm_id'];
                                    var nazwa_maszyny = jsonObj[index]['krm_nazwa'];
                                    document.getElementById("maszyna").value = id_maszyny;
                                    document.getElementById("nazwa_maszyny").value = nazwa_maszyny;

                                }

                            }

                        }
                        /*]]>*/
                    </script>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_index_name(){
                            var x = document.getElementById("indeks").selectedIndex;
                            var y = document.getElementById("indeks").options;
                            var indeks = y[x].text;
                            var rozmiar_listy_indeksow = /*[[${rozmiar_listy_indeksow}]]*/;
                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listIndexOps}]]*/));
                            for (index = 0; index < rozmiar_listy_indeksow; index++) {
                                if(indeks == jsonObj[index]['i_kod']){
                                    var nazwa_indeksu = jsonObj[index]['i_nazwa'];
                                    document.getElementById("nazwa_indeksu").options.selectedIndex = index;
                                }
                            }
                        }
                        /*]]>*/
                    </script>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_index_code(){
                            var x = document.getElementById("nazwa_indeksu").selectedIndex;
                            var y = document.getElementById("nazwa_indeksu").options;
                            var nazwa_indeksu = y[x].text;
                            var rozmiar_listy_indeksow = /*[[${rozmiar_listy_indeksow}]]*/;
                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listIndexOps}]]*/));
                            for (index = 0; index < rozmiar_listy_indeksow; index++) {
                                if(nazwa_indeksu == jsonObj[index]['i_nazwa']){
                                    var kod_indeksu = jsonObj[index]['i_kod'];
                                    document.getElementById("indeks").options.selectedIndex = index;
                                }
                            }
                        }
                        /*]]>*/
                    </script>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_op_name(){
                            var x = document.getElementById("kod_operacji").selectedIndex;
                            var y = document.getElementById("kod_operacji").options;
                            var kod_operacji = y[x].text;
                            var rozmiar_listy_operacji = /*[[${rozmiar_listy_operacji}]]*/;
                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listOpTechs}]]*/));
                            for (index = 0; index < rozmiar_listy_operacji; index++) {
                                if(kod_operacji == jsonObj[index]['opt_kod']){
                                    var nazwa_operacji = jsonObj[index]['opt_nazwa'];
                                    document.getElementById("nazwa_operacji").options.selectedIndex = index;
                                }
                            }
                        }
                        /*]]>*/
                    </script>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_op_code(){
                            var x = document.getElementById("nazwa_operacji").selectedIndex;
                            var y = document.getElementById("nazwa_operacji").options;
                            var nazwa_operacji = y[x].text;
                            var rozmiar_listy_operacji = /*[[${rozmiar_listy_operacji}]]*/;
                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listOpTechs}]]*/));
                            for (index = 0; index < rozmiar_listy_operacji; index++) {
                                if(nazwa_operacji == jsonObj[index]['opt_nazwa']){
                                    var kod_operacji = jsonObj[index]['opt_kod'];
                                    document.getElementById("kod_operacji").options.selectedIndex = index;
                                }
                            }
                        }
                        /*]]>*/
                    </script>

                </form>
            </div>


        </div>

    </div>
</div>

<script src="../../js/custom.js"></script>
</div>
</body>
</html>