<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://java.sun.com/xml/ns/persistence/orm">

<head>
    <title>Ewidencja</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function set_change(){
            var zmiana = /*[[${#dates.format(standardDate, 'HH')}]]*/;
            if(zmiana >= 7 && zmiana < 15){
                document.getElementById("zmiana").value = "1";
            } else if(zmiana >=15 && zmiana < 23){
                document.getElementById("zmiana").value = "2";
            } else {
                document.getElementById("zmiana").value = "3";
            }

            var data = /*[[${#dates.format(standardDate, 'dd-MM-yyyy')}]]*/;
            document.getElementById("data").value = data;

            document.getElementById("maszyna").value = null;
            document.getElementById("kod_maszyny").value = null;
            document.getElementById("nazwa_maszyny").value = null;
            document.getElementById("indeks").value = null;
            document.getElementById("ilosc").value = null;
            document.getElementById("kod_operacji").value = null;
            document.getElementById("nazwa_operacji").value = null;
            document.getElementById("czas").value = null;
            document.getElementById("kod_indeksu").value = null;
            document.getElementById("nazwa_indeksu").value = null;


        }


        /*]]>*/
    </script>
</head>

<body onload="set_change()">
<div class="container" style="width: 100%;">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Wyloguj
        </button>
    </form>
    <br/>
    <a class="btn btn-md btn-primary btn-block" href="admin/home">Kartoteki i produkcja</a>
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <form action="#"  th:action="@{/save_ewidencja}" method="post" >
                    <div class="row">

                        <div class="row" style="padding-bottom:20px;">

                            <!-- LEWA   KOLUMNA   DANYCH -->
                            <div class="col-md-6" >
                                <div class="row two_columns" style="margin: auto;">
                                    <h3 class="form-signin-heading" style="text-align: center;">Dane do ewidencji</h3>
                                    <br/>
                                    <!--Id pracownika - Nazwisko pracownika - Wydział pracownika -->
                                    <div class="col-md-4">

                                        <label>Nazwisko pracownika</label>
                                        <input  required="required" type="text" id="nazwisko_pracownika" name="lastName" placeholder="Nazwisko pracownika"
                                               class="form-control" th:value="${ewidencja.user.lastName}"/> <br/>
                                        <label>Id pracownika</label>
                                        <input  required="required" type="text" id="user" name="user" placeholder="Id pracownika"
                                               class="form-control"  th:field="*{ewidencja.user.id}" /> <br/>
                                        <label>Wydział pracownika</label>
                                        <input  required="required" type="text" id="wydzial_pracownika" name="wydzial_pracownika" placeholder="Wydzial pracownika"
                                               class="form-control" th:value="${ewidencja.user.section}"/> <br/>
                                        <br/>
                                        <br/>
                                    </div>

                                    <!--Imie - Kod - Id ewidencji-->
                                    <div class="col-md-4">
                                        <label>Login</label>
                                        <input  required="required" type="text" id="imie_pracownika" name="user" placeholder="Imie pracownika"
                                               class="form-control" th:value="${ewidencja.user.login}"/> <br/>

                                        <label>Kod pracownika</label>

                                        <input  required="required" type="text" name="user" placeholder="Kod pracownika"
                                               class="form-control" th:value="${ewidencja.user.code}"/> <br/>
                                        <input type="hidden" th:field="*{ewidencjaElementy.ewidencja.id}"/>

                                        <!-- <label>Id ewidencji</label>
                                         <input required="required" type="text" id="ewidencja" name="ewidencja" placeholder="e_id"
                                                class="form-control" th:value="${user_code}"/> <br/>-->

                                        <br/>
                                        <br/>
                                    </div>



                                    <!--Zmiana - Data - Czas pracy -->
                                    <div class="col-md-4">
                                        <label>Zmiana</label>
                                        <input  required="required" type="text" id="zmiana" name="zmiana" placeholder="Zmiana"
                                               class="form-control" th:field="*{ewidencja.zmiana}" /> <br/>

                                        <label>Data</label>
                                        <input required="required" type="text" id="data" name="data" placeholder="dd-mm-rrrr"
                                                class="form-control"/><br/>


                                        <label>Czas pracy</label>
                                        <input required="required" type="text" id="czas_pracy" name="czas_pracy" placeholder="Czas pracy"
                                               class="form-control" th:value="480" > <br/>


                                    </div>
                                </div>
                            </div>

                            <!-- PRAWA    KOLUMNA    DANYCH -->
                            <div class="col-md-6" th:object="${ewidencjaElementy}">
                                <div class="row two_columns" style="margin: auto; ">
                                    <h3 class="form-signin-heading"  style="text-align: center;">Dane elementu</h3>
                                    <br/>

                                    <!--Kod maszyny - Id maszyny - Nazwa maszyny -->
                                    <div class="col-md-4">
                                        <input type="hidden" th:field="*{id}">
                                        <label>Id maszyny</label>
                                        <input list="lista_id_maszyn" id="id_maszyny" name="maszyna" type="text" class="form-control" onchange="fill_maszyna_name_and_code()" onkeyup="fill_maszyna_name_and_code()" />
                                        <datalist id="lista_id_maszyn">
                                            <option th:each="maszyna : ${listKrMaszynys}" th:value="${maszyna.krm_id}" th:text="${maszyna.krm_id}"></option>
                                        </datalist>
                                        <br/>
                                        <label>Kod maszyny</label>
                                        <input list="lista_kodow_maszyn" id="kod_maszyny" type="text" class="form-control" onchange="fill_maszyna_name_and_id()" onkeyup="fill_maszyna_name_and_id()" />
                                        <datalist id="lista_kodow_maszyn">
                                            <option th:each="maszyna : ${listKrMaszynys}"  th:value="${maszyna.krm_kod}" th:text="${maszyna.krm_kod}"></option>
                                        </datalist> <br/>

                                        <label>Nazwa maszyny</label>
                                        <input list="lista_nazw_maszyn" id="nazwa_maszyny" type="text" class="form-control" onchange="fill_maszyna_code_and_id()" onkeyup="fill_maszyna_code_and_id()" />
                                        <datalist id="lista_nazw_maszyn">
                                            <option th:each="maszyna : ${listKrMaszynys}"  th:value="${maszyna.krm_nazwa}" th:text="${maszyna.krm_nazwa}"></option>
                                        </datalist>
                                        <br/>
                                        <br/>
                                    </div>

                                    <!--Indeks - Nazwa indeksu - Ilość-->
                                    <div class="col-md-4">
                                        <label>Id indeksu</label>
                                        <input list="lista_id_indeksow" id="id_indeksu" name="indexOp" type="text" class="form-control" onchange="fill_index_name_and_code()" onkeyup="fill_index_name_and_code()" />
                                        <datalist id="lista_id_indeksow">
                                            <option th:each="indexOp : ${listIndexOps}" th:value="${indexOp.id_indeksu}" th:text="${indexOp.id_indeksu}">></option>
                                        </datalist>
                                        <br/>
                                        <label>Kod indeksu</label>
                                        <input list="lista_kodow_indeksow" required="required" class="form-control" id="kod_indeksu" onchange="fill_index_name_and_id()" onkeyup="fill_index_name_and_id()">
                                        <datalist id="lista_kodow_indeksow">
                                            <option th:each="indexOp : ${listIndexOps}" th:value="${indexOp.i_kod}" th:text="${indexOp.i_kod}">></option>
                                        </datalist>
                                        <br/>

                                        <label>Nazwa indeksu</label>
                                        <input list="lista_nazw_indeksow" required="required" class="form-control" id="nazwa_indeksu"  onchange="fill_index_code_and_id()" onkeyup="fill_index_code_and_id()">
                                        <datalist id="lista_nazw_indeksow">
                                            <option th:each="index : ${listIndexOps}" th:value="${index.i_nazwa}" th:text="${index.i_nazwa}"></option>
                                        </datalist>
                                        <br/>

                                        <label>Ilość</label>
                                        <input required="required" type="text" id="ilosc" name="ilosc"
                                               class="form-control"/></br>

                                        <br/>
                                        <br/>
                                    </div>

                                    <!--Id Operacji - Kod Operacji - Nazwa operacji - Czas -->
                                    <div class="col-md-4">
                                        <label>Id operacji</label>
                                        <input list="lista_id_operacji" id="id_operacji" name="opTech" type="text" class="form-control" onchange="fill_op_name_and_code()" onkeyup="fill_op_name_and_code()" />
                                        <datalist id="lista_id_operacji">
                                            <option th:each="opTech : ${listOpTechs}" th:value="${opTech.opt_id}" th:text="${opTech.opt_id}"></option>
                                        </datalist>
                                        <br/>
                                        <label>Kod operacji</label>
                                        <input list="lista_kodow_operacji" id="kod_operacji" type="text" class="form-control" onchange="fill_op_name_and_id()" onkeyup="fill_op_name_and_id()" />
                                        <datalist id="lista_kodow_operacji">
                                            <option th:each="opTech : ${listOpTechs}" th:value="${opTech.opt_kod}" th:text="${opTech.opt_kod}"></option>
                                        </datalist>
                                        <br/>
                                        <label>Nazwa operacji</label>
                                        <input list="lista_nazw_operacji" id="nazwa_operacji" type="text" class="form-control" onchange="fill_op_code_and_id" onkeyup="fill_op_code_and_id()" />
                                        <datalist id="lista_nazw_operacji">
                                            <option th:each="operacja : ${listOpTechs}" th:value="${operacja.opt_nazwa}" th:text="${operacja.opt_nazwa}"></option>
                                        </datalist>
                                            <!-- </select>--> <br/>
                                        <label>Czas</label>
                                        <input required="required" type="text" id="czas" name="czas"
                                               class="form-control" />
                                        <br/>


                                    </div>
                                </div>
                            </div>

                        </div>

                        <button class="btn btn-md btn-primary btn-block" name="Submit" value="Zapisz" type="Submit" style="width:40%; margin:auto;">
                            Dodaj
                        </button>

                    </div>

                    <!-- fill_maszyna_name_and_id() -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_maszyna_name_and_id(){
                            var krm_kod = document.getElementById("kod_maszyny").value;
                            var rozmiar_listy = /*[[${rozmiar_listy}]]*/;

                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listKrMaszynys}]]*/));
                            for (index = 0; index < rozmiar_listy; ++index) {
                                if(krm_kod == ''){

                                    document.getElementById("nazwa_maszyny").value = '';
                                    document.getElementById("id_maszyny").value = '';

                                }else {
                                    if (krm_kod == jsonObj[index]['krm_kod']) {
                                        var id_maszyny = jsonObj[index]['krm_id'];
                                        var nazwa_maszyny = jsonObj[index]['krm_nazwa'];
                                        document.getElementById("id_maszyny").value = id_maszyny;
                                        document.getElementById("nazwa_maszyny").value = nazwa_maszyny;

                                    }
                                }
                            }

                        }
                        /*]]>*/
                    </script>

                    <!-- fill_maszyna_code_and_id() -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_maszyna_code_and_id(){
                            var nazwa_maszyny = document.getElementById("nazwa_maszyny").value;
                            var rozmiar_listy = /*[[${rozmiar_listy}]]*/;

                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listKrMaszynys}]]*/));
                            for (index = 0; index < rozmiar_listy; ++index) {
                                if(nazwa_maszyny == ''){

                                    document.getElementById("kod_maszyny").value = '';
                                    document.getElementById("id_maszyny").value = '';

                                }else {
                                    if (nazwa_maszyny == jsonObj[index]['krm_nazwa']) {
                                        var id_maszyny = jsonObj[index]['krm_id'];
                                        var kod_maszyny = jsonObj[index]['krm_kod'];
                                        document.getElementById("id_maszyny").value = id_maszyny;
                                        document.getElementById("kod_maszyny").value = kod_maszyny;

                                    }
                                }

                            }

                        }
                        /*]]>*/
                    </script>

                    <!-- fill_maszyna_name_and_code() -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_maszyna_name_and_code(){
                            var id_maszyny = document.getElementById("id_maszyny").value;
                            var rozmiar_listy = /*[[${rozmiar_listy}]]*/;

                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listKrMaszynys}]]*/));
                            for (index = 0; index < rozmiar_listy; ++index) {
                                if(id_maszyny == ''){

                                    document.getElementById("nazwa_maszyny").value = '';
                                    document.getElementById("kod_maszyny").value = '';

                                }else{
                                if(id_maszyny == jsonObj[index]['krm_id']){
                                    var kod_maszyny = jsonObj[index]['krm_kod'];
                                    var nazwa_maszyny = jsonObj[index]['krm_nazwa'];
                                    document.getElementById("kod_maszyny").value = kod_maszyny;
                                    document.getElementById("nazwa_maszyny").value = nazwa_maszyny;

                                }
                                }

                            }

                        }
                        /*]]>*/
                    </script>

                    <!-- fill_index_name_and_id() -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_index_name_and_id(){

                            var indeks = document.getElementById("kod_indeksu").value;
                            var rozmiar_listy_indeksow = /*[[${rozmiar_listy_indeksow}]]*/;
                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listIndexOps}]]*/));
                            for (index = 0; index < rozmiar_listy_indeksow; index++) {
                                if(indeks == ''){

                                    document.getElementById("nazwa_indeksu").value = '';
                                    document.getElementById("id_indeksu").value = '';

                                }
                                else {
                                    if (indeks == jsonObj[index]['i_kod']) {
                                        var nazwa_indeksu = jsonObj[index]['i_nazwa'];
                                        document.getElementById("nazwa_indeksu").value = nazwa_indeksu;
                                        var id_indeksu = jsonObj[index]['id_indeksu'];
                                        document.getElementById("id_indeksu").value = id_indeksu;
                                    }
                                }
                            }
                        }
                        /*]]>*/
                    </script>

                    <!-- fill_index_name_and_code() -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_index_name_and_code(){

                            var indeks = document.getElementById("id_indeksu").value;
                            var rozmiar_listy_indeksow = /*[[${rozmiar_listy_indeksow}]]*/;
                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listIndexOps}]]*/));
                            for (index = 0; index < rozmiar_listy_indeksow; index++) {
                                if(indeks == ''){

                                    document.getElementById("nazwa_indeksu").value = '';
                                    document.getElementById("kod_indeksu").value = '';

                                }
                                else {
                                    if (indeks == jsonObj[index]['id_indeksu']) {
                                        var nazwa_indeksu = jsonObj[index]['i_nazwa'];
                                        document.getElementById("nazwa_indeksu").value = nazwa_indeksu;
                                        var kod_indeksu = jsonObj[index]['i_kod'];
                                        document.getElementById("kod_indeksu").value = kod_indeksu;
                                    }
                                }
                            }
                        }
                        /*]]>*/
                    </script>

                    <!-- fill_index_code_and_id() -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_index_code_and_id(){

                            var nazwa_indeksu = document.getElementById("nazwa_indeksu").value;
                            var rozmiar_listy_indeksow = /*[[${rozmiar_listy_indeksow}]]*/;
                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listIndexOps}]]*/));
                            for (index = 0; index < rozmiar_listy_indeksow; index++) {
                                if(nazwa_indeksu == ''){

                                    document.getElementById("kod_indeksu").value = '';
                                    document.getElementById("id_indeksu").value = '';

                                }
                                else {
                                    if (nazwa_indeksu == jsonObj[index]['i_nazwa']) {
                                        var kod_indeksu = jsonObj[index]['i_kod'];
                                        document.getElementById("kod_indeksu").value = kod_indeksu;
                                        var id_indeksu = jsonObj[index]['id_indeksu'];
                                        document.getElementById("id_indeksu").value = id_indeksu;
                                    }
                                }
                            }
                        }
                        /*]]>*/
                    </script>

                    <!-- fill_op_name_and_id() -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_op_name_and_id(){
                            var kod_operacji = document.getElementById("kod_operacji").value;
                            var rozmiar_listy_operacji = /*[[${rozmiar_listy_operacji}]]*/;
                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listOpTechs}]]*/));
                            for (index = 0; index < rozmiar_listy_operacji; index++) {
                                if(kod_operacji == ''){

                                    document.getElementById("nazwa_operacji").value = '';
                                    document.getElementById("id_operacji").value = '';

                                }
                                else {
                                    if (kod_operacji == jsonObj[index]['opt_kod']) {
                                        var nazwa_operacji = jsonObj[index]['opt_nazwa'];
                                        var id_operacji = jsonObj[index]['opt_id'];
                                        document.getElementById("nazwa_operacji").value = nazwa_operacji;
                                        document.getElementById("id_operacji").value = id_operacji;
                                    }

                                }
                            }
                        }
                        /*]]>*/
                    </script>

                    <!-- fill_op_code_and_id() -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_op_code_and_id(){
                            var nazwa_operacji = document.getElementById("nazwa_operacji").value;
                            var rozmiar_listy_operacji = /*[[${rozmiar_listy_operacji}]]*/;
                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listOpTechs}]]*/));
                            for (index = 0; index < rozmiar_listy_operacji; index++) {
                                if(nazwa_operacji == ''){

                                    document.getElementById("kod_operacji").value = '';
                                    document.getElementById("id_operacji").value = '';

                                }
                                else {
                                    if (nazwa_operacji == jsonObj[index]['opt_nazwa']) {
                                        var kod_operacji = jsonObj[index]['opt_kod'];
                                        document.getElementById("kod_operacji").value = kod_operacji;
                                        var id_operacji = jsonObj[index]['opt_id'];
                                        document.getElementById("id_operacji").value = id_operacji;
                                    }
                                }
                            }
                        }
                        /*]]>*/
                    </script>

                    <!-- fill_op_name_and_code() -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        function fill_op_name_and_code(){
                            var id_operacji = document.getElementById("id_operacji").value;
                            var rozmiar_listy_operacji = /*[[${rozmiar_listy_operacji}]]*/;
                            var index;
                            var jsonObj = JSON.parse(JSON.stringify(/*[[${listOpTechs}]]*/));
                            for (index = 0; index < rozmiar_listy_operacji; index++) {
                                if(id_operacji == ''){

                                    document.getElementById("nazwa_operacji").value = '';
                                    document.getElementById("kod_operacji").value = '';

                                }
                                else {
                                    if (id_operacji == jsonObj[index]['opt_id']) {
                                        var kod_operacji = jsonObj[index]['opt_kod'];
                                        document.getElementById("kod_operacji").value = kod_operacji;
                                        var nazwa_operacji = jsonObj[index]['opt_nazwa'];
                                        document.getElementById("nazwa_operacji").value = nazwa_operacji;
                                    }
                                }
                            }
                        }
                        /*]]>*/
                    </script>

                </form>
            </div>


        </div>

    </div>
</div>

<script src="../../js/custom.js"></script>
</div>
</body>
</html>