<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
          xmlns:dt="http://www.thymeleaf.org/dandelion/datatables" />

    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Lista</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i
                    class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/home">Kartoteki i produkcja</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"></li>
                <li><a href="/indeks_operacje_technologiczne">Dodaj indeksOpElem</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="container" style="text-align:center; width:100%">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Wyloguj
        </button>
    </form>
    <br/>
    <a class="btn btn-md btn-primary btn-block" href="/indeks_operacje_technologiczne_menu">Wstecz</a>
    <a class="btn btn-md btn-primary btn-block" href="/indeks_operacje_technologiczne">Dodaj IndeksOpElem</a>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">

                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="row">

                                <div class="col-md-2"></div>
                                <div class="col-md-8">


                                    <select class="form-control" id="wybranie_indeksu">
                                        <option th:each="index : ${listIndexOpElementy}" th:value="${index.IndexOp.I_nazwa}" th:text="${index.IndexOp.I_nazwa}" ></option>
                                    </select> <br/>
                                </div>
                                <div class="col-md-2"></div>
                            </div>-->
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div align="center">
                                        <legend>IndexOpElementy</legend></br>
                                        <input  class="form-control" data-live-search="true" type="text" id="searchInput" onkeyup="searchIndex()" placeholder="Wyszukiwanie po nazwie operacji...">
                                        </br>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                    <div class="table-responsive">
                                        <table id="tabela_indeksow" class="table table-striped table-bordered"
                                               dt:table="true">
                                            <thead>
                                            <tr>
                                                <th>Nazwa operacji</th>
                                                <th>Kod operacji</th>
                                                <th>Nazwa indeksu</th>
                                                <th>Kod indeksu</th>
                                                <th>wspK</th>
                                                <th>Czas</th>
                                                <th>Akcja</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="list : ${listIndexOpElementy}">
                                                <td th:text="${list?.opTech.opt_nazwa}"></td>
                                                <td th:text="${list?.opTech.opt_kod}"></td>
                                                <td th:text="${list?.indexOp.i_kod}"></td>
                                                <td th:text="${list?.indexOp.i_nazwa}"></td>
                                                <td th:text="${list?.wspK}"></td>
                                                <td th:text="${list?.czas}"></td>
                                                <td>
                                                    <a th:href="@{/edit_indeks_operacje_technologiczne/?id={id}(id=${list.id})}"
                                                       class="btn btn-info">Edytuj</a>
                                                    <a th:href="@{/delete_indeks_operacje_technologiczne/?id={id}(id=${list.id})}"
                                                       class="btn btn-danger">Usuń</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>

                            </div>
                        </div>
                    </div>








                </div>

            </div>


        </div>
    </div>
</div>

<script th:inline="javascript">
        /*<![CDATA[*/
        function searchIndex() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("tabela_indeksow");
  tr = table.getElementsByTagName("tr");



      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }

}

        /*]]>*/
</script>
</body>
</html>