<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Kartoteki</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container" style="width: 100%;">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Wyloguj
        </button>
    </form>

    <br/>
    <a class="btn btn-md btn-primary btn-block" href="admin/home">Powrót do Powrót do menu głownego</a>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <a href="/kartoteka_pracownikow" class="btn btn-info btn-md" role="button">Kartoteka pracowników</a>
                    <a href="/kartoteka_maszyn" class="btn btn-info btn-md" role="button">Kartoteka maszyn</a>
                    <a href="/operacje_technologiczne" class="btn btn-info btn-md" role="button">Operacje technologiczne</a>
                    <a href="/operacje_indeks" class="btn btn-info btn-md" role="button">Operacje indeks</a>
                    <a href="/indeks_operacje_technologiczne_menu" class="btn btn-info btn-md" role="button">Indeks - Operacje technologiczne</a>

                </div>
                <div class="col-md-2"></div>
            </div>


        </div>
    </div>

</div>
</body>
</html>

